html, body, header, nav, div, h1, h2, h3, ul, li, a, p{
    margin: 0;
    padding: 0;
    font-family:  Arial;
}

nav{
    display: flex;
    align-items: center;
    background-color: rgb(80, 25, 32);
    color:rgb(27, 6, 9);
}

.navizquierda{
    display: flex;
    gap: 65px;
    text-decoration: none;
    align-items: center;
    
    
}

.navderecha{
    display: flex;
    list-style: none;
    gap: 25px;
    margin-left:50%;
}

.navderecha:hover{
    text-decoration: underline;
}

.logo{
    margin-left: 20px;
    width: 180px;
    height: 120px;
    border-radius: 40%;
}

nav li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.titulo{
    font-size: 20px;
    text-decoration: none;
}

#prin{
    margin: 10px;
    width: 95%;
    height: 150px;
    object-fit: cover; /*este es de mi cosecha*/
    border-radius: 1%;

}

#paraimg{
    justify-content: center;/*mi cosecha*/
    display: flex;
    background-color: black;
}
/********************************************************************/

.centro{
    height: 400px;
    background-color: black;
}
#caja1{
    width: 35%;
    float: left;
    height: 290px;
    margin-left: 50px;


}

#mifoto{

    height: 100%;
    width: 500px;
    margin-top: 10px;
    object-fit: cover; 
}


#caja2{
    width: 55%;
    float: right;
    background-color: rgb(15, 3, 3);
    height: 250px;
    padding: 20px;
    margin-right: 50px;
    margin-top: 10px;
}

#caja2 ul li{
    color:rgb(228, 228, 181);
    list-style: none;
}
/***************************************************************************/

#parafotoempresa{
    justify-content: center;/*mi cosecha*/
    display: flex;
    background-color: black;
}
#fotoempresa {
    width: 70%;
    height: 550px;
    border-radius: 1%;
    margin-top: 20px;
    background-color: black;
    margin-bottom: 20px;
}

/***************************************************************************/
/***imita el centro del form*********************************************/
.centrodos{

    background-color: black;
    justify-content: center;
    display: flex;
    padding: 60px;
}

/*************************************************************************/

/**es el centro tres de galería*************************************************/

.centrotres{

    background-color: rgb(80, 25, 32);
    justify-content: center;
    display: flex;
    padding: 60px;

}

.paraelform{
    background-color: rgb(80, 25, 32);
    padding: 50px;
    width: 500px;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.botonform{
    border-radius: 20px;
    padding: 10px;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

/***************************************************************************/
footer{
    background-color: rgb(80, 25, 32);
    clear: both;
}
#paraelfoot{
    text-align: center;
}
/******************************************************************************/
/**************para la galería**************************************************/

.productos{
    background-color: rgb(80, 25, 32);
    display: flex;
    flex-wrap: wrap;/*estoy dudosa, debo ver de que otra forma más, quizás un block*/
    justify-content: space-around;/*funcionó, osi*/
}

.detalleprod{
    width: 28%;
    margin: 10px;
    border:3px solid white;
    text-align: center;
    background-color: #ffffff;
}

.contenedorimg1{
    border-radius: 2px;
    text-align: center;

}

#input1{
    width: 20px;
}

#img1{
    height: 300px;
    width: 300px;
    
}

.descripcion{
    background-color: bisque;
    border: 2px black;
}

.descripcion p{
    border: 2px black;
}

@media screen and (max-width: 760px){
    nav{
        padding-left: 0;
        text-align: center;
        
    }

    .navderecha{
        margin-left: 0;
        margin-top: 10px;
    }

    .navizquierda{
        margin-left: 0;
        margin-top: 10px;
    }

    footer{
        font-size: 20px;
    }
}