html, body, header, nav, div, h1, h2, h3, ul, li, a, p{
    margin: 0;
    padding: 0;
    font-family:  Arial;
}

nav{
    display: flex;
    align-items: center;
    background-color: rgb(80, 25, 32);
    color:rgb(27, 6, 9);
}

.navizquierda{
    display: flex;
    gap: 65px;
    text-decoration: none;
    align-items: center;
    
    
}

.navderecha{
    display: flex;
    list-style: none;
    gap: 25px;
    margin-left:50%;
}

.navderecha:hover{
    text-decoration: underline;
}

.logo{
    margin-left: 20px;
    width: 180px;
    height: 120px;
    border-radius: 40%;
}

nav li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.titulo{
    font-size: 20px;
    text-decoration: none;
}

#prin{
    margin: 10px;
    width: 95%;
    height: 150px;
    object-fit: cover; /*este es de mi cosecha*/
    border-radius: 1%;

}

#paraimg{
    justify-content: center;/*mi cosecha*/
    display: flex;
    background-color: black;
}
/******************/

.centro{
    height: 550px;
    background-color: black;
}
#caja1{
    width: 35%;
    float: left;
    height: 290px;
    margin-left: 50px;


}

#mifoto{

    height: 100%;
    width: 500px;
    margin-top: 10px;
    object-fit: cover; 
}


#caja2{
    width: 55%;
    float: right;
    background-color: rgb(15, 3, 3);
    height: 250px;
    padding: 20px;
    margin-right: 50px;
    margin-top: 10px;
}

#caja2 ul li{
    color:rgb(228, 228, 181);
    list-style: none;
}
/******/

#parafotoempresa{
    justify-content: center;/*mi cosecha*/
    display: flex;
    background-color: black;
}
#fotoempresa {
    width: 75%;
    height: 420px;
    border-radius: 1%;
    margin-top: -120px;
    background-color: black;
    margin-bottom: 20px;
    
}
/******/
footer{
    background-color: rgb(80, 25, 32);
    clear: both;

    

}
#paraelfoot{
    text-align: center;
}